.search-card {
  width: 400px;
  background-image: linear-gradient(#dadada, #f3f3f3);
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 7px 6px rgb(197, 197, 197);
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-header img {
    width: 100px;
  }
  &-form {
    width: 100%;
    display: flex;
    justify-content: center;

    &-input {
      width: 70%;
      height: 20px;
      padding: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &-button {
      color: white;
      background-color: black;
      padding: 0px 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
    }
    &-button:hover {
      background-color: rgb(32, 32, 32);
    }
  }
}

@media (max-width: 500px) {
  .search-card {
    width: 300px;
    margin-left: 20px;
  }
}
